.app {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app-box {
  height: 350px;
  width: 900px;
  border: 15px solid green;
  margin-top: 150px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
}
.App-link {
  color: #09d3ac;
}
.button-container {
  height: 300px;
  width: 300px;
  border: solid blueviolet;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}
.function-container {
  height: 300px;
  width: 300px;
  border: solid brown;
  margin: auto;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .app-box {
    margin-top: 70px;
    height: 700px;
    width: 350px;
  }
}
@media only screen and (max-width: 500px) {
  .app-box {
    margin-top: 20px;
    height: 500px;
    width: 300px;
  }
  .button-container {
    height: 200px;
    width: 200px;
  }
  .function-container {
    height: 200px;
    width: 200px;
  }
}
.button-look {
  margin: auto;
  height: 80px;
  width: 80px;
  border: 0.5px solid white;
  background-color: black;
}
